<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>WoW Auctions</title>

    <link rel="stylesheet" href="scripts/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="scripts/lib/css/ng-grid.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="scripts/lib/jquery.min.js"></script>
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/angular-resource.min.js"></script>
    <script src="scripts/lib/ng-grid-2.0.11.min.js"></script>
    <script src="scripts/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/lib/ng-google-chart.js"></script>

    <script src="scripts/app.js"></script>

    <script src="scripts/lib/wowhead-power-min.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
</head>

<body>
<img src="images/wow-logo.png" width="400px" height="163px"/>
<h1> Auctions</h1>

<br>

<div class="search" ng-controller="searchController">
    <form name="searchForm" ng-submit="submit()" novalidate>

        <div class="form-group" ng-class="{'has-error' : searchForm.realm.$invalid && searchForm.realm.$dirty}">
            <input id="realm" name="realm" type="text" ng-model="search.realmId" placeholder="Pick Realm"
                   typeahead="realm.id as realm.realmDetail for realm in realms | filter:$viewValue | limitTo:10"
                   typeahead-input-formatter="formatRealm($model)"
                   class="form-control" required>
        </div>

        <div class="form-group" ng-class="{'has-error' : searchForm.realm.$invalid && searchForm.realm.$dirty}">
            <input id="item" name="item" type="text" ng-model="search.itemId" placeholder="Pick Item"
                   class="form-control" required>
        </div>

        <br>

        <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">Search</button>
    </form>
</div>

<br><br>

<div class="grid" ng-controller="itemsController">
    <div class="item" ng-show="itemId">
        <a id="itemLink">Item</a>
    </div>

    <br>

    <div google-chart chart="chart"></div>

    <br>

    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

</body>
</html>
