<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>WoW Auctions</title>

    <link rel="stylesheet" href="scripts/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="scripts/lib/css/ng-grid.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="scripts/lib/jquery.min.js"></script>
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/angular-resource.min.js"></script>
    <script src="scripts/lib/ng-grid-2.0.11.min.js"></script>
    <script src="scripts/lib/ui-bootstrap-tpls.min.js"></script>

    <script src="scripts/app.js"></script>
</head>

<body>
<h1>WoW Auctions</h1>

<br>

<div class="search" ng-controller="realmsController">
    <form name="searchForm" ng-submit="submit()" novalidate>

        <div class="form-group" ng-class="{'has-error' : searchForm.realm.$invalid && searchForm.realm.$dirty}">
            <input id="realm" name="realm" type="text" ng-model="search.realmId" placeholder="Pick Realm"
                   typeahead="realm as realm.name for realm in realms | filter:$viewValue | limitTo:10"
                   class="form-control" required>
        </div>

        <div class="form-group" ng-class="{'has-error' : searchForm.realm.$invalid && searchForm.realm.$dirty}">
            <input id="item" name="item" type="text" ng-model="search.itemId" placeholder="Pick Item"
                   class="form-control" required>
        </div>

        <br>

        <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">Search</button>
    </form>
</div>

<br><br>

<div class="grid" ng-controller="itemsController">
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

</body>
</html>
